@media(min-width:600px){

.top_navbar{
    box-shadow: 0 0 50px rgb(71, 71, 71) !important;
}

   #top_actions_section{
    display: flex !important;
    align-items: center;
   }
} 

/* .user_list_item .user_list_arrow_icon{

     transition: all 250ms ease;

} */
.user_list_item.active .user_list_arrow_icon{

    transform: rotate(180deg);

}

.user_list_item.active .collapsible-header , .user_list_item.active{

background-color: rgba(121, 121, 121, 0.226);


}
table.striped > tbody > tr:nth-child(odd) {
  background-color: #ffcdd2;
}

table.highlight > tbody > tr:hover {
  background-color: #c5cae9 ;
}
.container {
  margin: 0 auto;
  max-width: 1480px;
  width: 90%;
}

.fixadd{
  display: flex;
  align-items: baseline;
}
/* .container{
  width: 100% !important;
} */